In [12]:
%matplotlib notebook
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
import seaborn as sns
from sklearn.model_selection import train_test_split
import sys
import math
import warnings
warnings.filterwarnings('ignore')

In [13]:
def normalization(data):
    from sklearn.preprocessing import MinMaxScaler
    scaler = MinMaxScaler()
    data = scaler.fit_transform(data)
    return data

In [14]:
df = pd.read_csv("new_dtrain.csv", delimiter=",")
zeros = df[df['latitude'] == 0]
df = df[df['latitude'] != 0]

In [15]:
subset = list(df.columns.values)
subset = subset.remove('price')

In [16]:
data = df.drop_duplicates(subset = subset)

In [17]:
#print(len(data[data.price > 1000000000]))
data = data[data.price < 1000000000]
data = data.reset_index(drop=True)

In [18]:
# def log_feature(data):
#     lat = data['latitude']
#     lon = data['longitude']
#     log_lat = np.log(lat) * 10
#     log_lon = np.log(lon) * 10
#     data['log_lat'] = log_lat
#     data['log_lon'] = log_lon
#     return data

In [19]:
# data = log_feature(data)
#choosing data
X = data[['room_number', 'house_type',
       'built_time', 'appartments_floor', 'all_space', 'state', 'bathroom',
       'balcony', 'balcony_glassed', 'door', 'phone', 'ceiling', 'safety',
       'at_the_hotel', 'internet', 'furniture', 'parking', 'latitude',
       'longitude', 'building_floors', 'map_complex', 'floor',
          'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
# X_geo = data[['geocode_lat', 'geocode_long', 'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
y = data['price']
# x_columns = X.columns
# x_index = X.index
# X = normalization(X)
# X = pd.DataFrame(X, index=x_index, columns=x_columns)
# X = pd.concat([X, X_geo], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [20]:
model = KNeighborsRegressor(n_neighbors = 5, n_jobs=-1, weights='distance', p=1)
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=-1, n_neighbors=5, p=1,
          weights='distance')

In [21]:
# from sklearn.model_selection import cross_val_score
# scores = cross_val_score(model, X, y, cv=5)
# print(scores)

In [22]:
# var1 = 'longitude'
# var2 = 'latitude'

# data.plot.scatter(x=var1, y=var2, color = (0, 0, 0), s = 15, xlim = [76.70, 77.10], ylim = [43.10, 43.45])

In [23]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print("Mean absolute error: ", mean_absolute_error(model.predict(X_test), y_test))
print("Mean squared error: ", mean_squared_error(model.predict(X_test), y_test))
print("R2 score: ", model.score(X_test, y_test))

Mean absolute error:  3062286.75785
Mean squared error:  1.55700953625e+14
R2 score:  0.855878060915

In [24]:
X_test[X_test.index == 25466]

,room_number,house_type,built_time,appartments_floor,all_space,state,bathroom,balcony,balcony_glassed,door,...,furniture,parking,latitude,longitude,building_floors,map_complex,floor,trngl_first_point,trngl_second_point,trngl_third_point
25466,1,2,1983,3.0,32.0,5,1,1,1,2,...,0.5,1,43.268556,76.934254,5.0,1.0,1,8.8135,-17.2593,-2.665

In [25]:
y_test[y_test.index == 25466]

25466    11200000
Name: price, dtype: int64

In [26]:
a = model.predict(X_test[X_test.index == 25466])

In [27]:
a

array([ 11200000.])

In [28]:
model.kneighbors(X_test[X_test.index == 25466], return_distance=False)

array([[13499, 16875,  1091,  7447, 23130]])

In [29]:
indexes = X_train.index

In [30]:
indexes[994]

28133