In [78]:
#%matplotlib notebook
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
import seaborn as sns
from sklearn.model_selection import train_test_split
%matplotlib inline
import math

In [79]:
df = pd.read_csv("new_dtrain.csv", delimiter=",")
zeros = df[df['latitude'] == 0]
df = df[df['latitude'] != 0]
subset = list(df.columns.values)
subset = subset.remove('price')
data = df.drop_duplicates(subset = subset)
#print(len(data[data.price > 1000000000]))
data = data[data.price < 1000000000]
data = data[data.price < 800000000]
data = shuffle(data)
data = data.reset_index(drop=True)

In [80]:
# data = log_feature(data)
#choosing data
X = data[['room_number', 'house_type',
       'built_time', 'appartments_floor', 'all_space', 'state', 'bathroom',
       'balcony', 'balcony_glassed', 'door', 'phone', 'ceiling', 'safety',
       'at_the_hotel', 'internet', 'furniture', 'parking', 'latitude',
       'longitude', 'building_floors', 'map_complex', 'floor',
          'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
# X_geo = data[['geocode_lat', 'geocode_long', 'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
y = data['price']
# x_columns = X.columns
# x_index = X.index
# X = normalization(X)
# X = pd.DataFrame(X, index=x_index, columns=x_columns)
# X = pd.concat([X, X_geo], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [81]:
from sklearn.ensemble import RandomForestRegressor

In [82]:
model = RandomForestRegressor(n_estimators = 300, random_state=7)

In [83]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=300, n_jobs=1, oob_score=False, random_state=7,
           verbose=0, warm_start=False)

In [84]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print("RFR Mean absolute error: ", mean_absolute_error(model.predict(X_test), y_test))
print("RFR Mean squared error: ", mean_squared_error(model.predict(X_test), y_test))

RFR Mean absolute error:  3082575.46405
RFR Mean squared error:  1.31197001203e+14

In [85]:
def percent_(price):
    x = (7*price)/100
    price -= x
    return price

In [86]:
def confidence_interval(data):
    const = 3.62
    price = data['price']
    std = np.std(price)
    Z = std/(math.sqrt(len(price)))
    return (Z * const)

In [87]:
def price_range(price, interval):
    #confidence interval should be Global variable!!!
    upper_price = price + interval
    lower_price = price - interval
    return upper_price, price, lower_price

In [88]:
test = X_test[-1:]

In [95]:
X_test[-1:]

,room_number,house_type,built_time,appartments_floor,all_space,state,bathroom,balcony,balcony_glassed,door,...,furniture,parking,latitude,longitude,building_floors,map_complex,floor,trngl_first_point,trngl_second_point,trngl_third_point
27515,3,3,2014,2.0,95.0,6,3,0,0,0,...,0.0,0,43.238135,76.873887,22.0,1.0,6,17.8923,-8.1805,6.4138

In [89]:
out = model.predict(test)

In [90]:
out = percent_(out)

In [96]:
out

array([ 29179492.22857143])

In [92]:
conf_int = confidence_interval(data)

In [93]:
up, mid, low = price_range(out, conf_int)

In [97]:
def price_sqr_meter(sample, out):
    space = sample['all_space']
    return out/space

In [98]:
print(price_sqr_meter(test, out))

27515    307152.549774
Name: all_space, dtype: float64

In [102]:
data.address

0                                            Луганского 1
1                                  Муратбаева 94 — Гоголя
2                 Шагабутдинова 6 — Жибек Жолы (Горького)
3                               Мендикулова 33a — Снегина
4                                     Навои 7 — Жандосова
5                            Тургута Озала 168 — Шакарима
6                               Розыбакиева 81 — Сатпаева
7                            Розыбакиева 283 — Аль-Фараби
8                     мкр Орбита-1, Навои 1 — Торайгырова
9                            Тимирязева 111 — Розыбакиева
10                                Гагарина 127 — Мынбаева
11                            Айтике Би (Октябрьская) 154
12                              Кунаева 22/13 — Маметовой
13                              Спасская 61 — Бекмаханова
14                        Кабанбай батыра 104 — Тулебаева
15                                         Иргели село 19
16                             мкр Орбита-2, Мустафина 28
17                  Бауыржана Момышулы 13 — проспект Абая
18         Шафик Чокина (Мирзояна) 189 — Толе би (Комсо...
19                               мкр Кокжиек, Геологов 32
20                  мкр Самал-2, Мендикулова 41 — Снегина
21           Байзакова 192 — Карасай Батыра (Виноградова)
22                            мкр №9, Саина 18 — Шаляпина
23                            Тургут Озала 230/150 — Абая
24                            Байсеитовой Куляш 32 — Абая
25                                           М-н Алтай 10
26         мкр Аксай-2, Бауыржана Момышулы 36 — Елемесова
27                                  Жамбыла 173 — Айтиева
28                              Айманова 154 — Джандосова
29                                       Масанчи 1 — Абая
                               ...
35421                                Навои 66 — Жандосова
35422             Туркебаева 63 — Толе би (Комсомольская)
35423                           Курмангазы 145 — Муканова
35424                               Кунаева 18 — Маметова
35425                                      Туркебаева 281
35426               мкр Аксай-3, Б. Момышулы 10 — Толе би
35427      мкр Алгабас, Бауыржана Момышулы 21 — проспек...
35428             Айтике Би (Октябрьская) 37 — Абдуллиных
35429                                     мкр Айнабулак-3
35430                         Розыбакиева 72 — Тимирязева
35431             Райымбека (Ташкентская) 206/7 — Боткина
35432      мкр Тастак-2, Дуйсенова Есена (Болотникова) ...
35433                    мкр №3, Саина 33 — проспект Абая
35434                           мкр Каргалы, Мустафина 98
35435            Радостовца (Мориса Тореза) 47 — Джамбула
35436       мкр Мамыр-1, Шаляпина 11 — Бауыржана Момышулы
35437       мкр №2, Алтынсарина (Правды) 45 — Куанышбаева
35438          Казыбек Би (Советская) 183 — Шафика Чокина
35439             мкр Самал-2, Мендикулова 71 — Бектурова
35440                                 Муканова 245 — Абая
35441                  мкр Аксай-5, Жубанова 2 — Момышулы
35442      мкр Алгабас-6, Бауыржана Момышулы 1/178 — Ак...
35443                Достык (Ленина) 111\3 — Хаджи Мукана
35444                 мкр №8, Утеген батыра 65 — Шаляпина
35445                           проспект Достык — Омарова
35446                         Тимирязева 66 — Розыбакиева
35447      мкр Орбита-1, Мустафина 21 — Торайгырова (Фр...
35448                                Саина 18 — Кабдолова
35449       Абылай хана (Коммунистический) 127 — Шевченко
35450           мкр №2, Жубанова 6 — Алтынсарина (Правды)
Name: address, Length: 35451, dtype: object