In [95]:
%matplotlib notebook
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
import seaborn as sns
from sklearn.model_selection import train_test_split
import sys
import math
import warnings
warnings.filterwarnings('ignore')

In [96]:
# def normalization(data):
#     from sklearn.preprocessing import MinMaxScaler
#     scaler = MinMaxScaler()
#     data = scaler.fit_transform(data)
#     return data

In [97]:
df = pd.read_csv("new_dtrain.csv", delimiter=",")
zeros = df[df['latitude'] == 0]
df = df[df['latitude'] != 0]
subset = list(df.columns.values)
subset = subset.remove('price')
data = df.drop_duplicates(subset = subset)
#print(len(data[data.price > 1000000000]))
data = data[data.price < 1000000000]
data = data[data.price < 800000000]
data = shuffle(data)
data = data.reset_index(drop=True)

In [98]:
# data = log_feature(data)
#choosing data
X = data[['room_number', 'house_type',
       'built_time', 'appartments_floor', 'all_space', 'state', 'bathroom',
       'balcony', 'balcony_glassed', 'door', 'phone', 'ceiling', 'safety',
       'at_the_hotel', 'internet', 'furniture', 'parking', 'latitude',
       'longitude', 'building_floors', 'map_complex', 'floor',
          'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
# X_geo = data[['geocode_lat', 'geocode_long', 'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
y = data['price']
# x_columns = X.columns
# x_index = X.index
# X = normalization(X)
# X = pd.DataFrame(X, index=x_index, columns=x_columns)
# X = pd.concat([X, X_geo], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [99]:
model = KNeighborsRegressor(n_neighbors = 5, n_jobs=-1, weights='distance', p=1)
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=-1, n_neighbors=5, p=1,
          weights='distance')

In [100]:
# from sklearn.model_selection import cross_val_score
# scores = cross_val_score(model, X, y, cv=5)
# print(scores)

In [101]:
# var1 = 'longitude'
# var2 = 'latitude'

# data.plot.scatter(x=var1, y=var2, color = (0, 0, 0), s = 15, xlim = [76.70, 77.10], ylim = [43.10, 43.45])

In [102]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print("Mean absolute error: ", mean_absolute_error(model.predict(X_test), y_test))
print("Mean squared error: ", mean_squared_error(model.predict(X_test), y_test))
print("R2 score: ", model.score(X_test, y_test))

Mean absolute error:  3073525.18152
Mean squared error:  1.210387335e+14
R2 score:  0.89145438923

In [103]:
#firstly you should get an interval (confidence_interval function)
def price_range(price, interval):
    #confidence interval should be Global variable!!!
    upper_price = price + interval
    lower_price = price - interval
    return upper_price, price, lower_price

In [104]:
#confidence interval for whole DataFrame
def confidence_interval(data):
    const = 3.62
    price = data['price']
    std = np.std(price)
    Z = std/(math.sqrt(len(price)))
    return (Z * const)

In [105]:
#Substract 7% from answer of the model
def percent_(price):
    x = (7*price)/100
    price -= x
    return price

def find_neighbors(data, point):

SyntaxError: unexpected EOF while parsing (<ipython-input-105-2f6bb1b65b30>, line 8)

In [ ]:
data.head()

In [106]:
out = X_test[-1:]
y_test[-1:]

27515    16900000
Name: price, dtype: int64

In [107]:
out_pred = model.predict(out)
out_pred

array([ 17524502.38344103])

In [108]:
error = abs(y_test[-1:] - out_pred)

In [109]:
error

27515    624502.383441
Name: price, dtype: float64

In [110]:
model.kneighbors(out)

(array([[  3.493927,   8.884897,  10.3     ,  10.901846,  11.897281]]),
 array([[19152, 13162, 14603,  8238, 15389]]))

In [113]:
data[data.index == 19152]

,Index,address,room_number,price,map_complex,house_type,built_time,appartments_floor,all_space,state,...,internet,furniture,floor,parking,latitude,longitude,building_floors,trngl_first_point,trngl_second_point,trngl_third_point
19152,8385,Басенова 41 — Розыбакиева,3,18000000,1.0,2,1975,2.0,55.0,5,...,0,0.5,0,0,43.221201,76.889868,5.0,17.9876,-8.0852,6.5091

In [114]:
data[data.index == 13162]

,Index,address,room_number,price,map_complex,house_type,built_time,appartments_floor,all_space,state,...,internet,furniture,floor,parking,latitude,longitude,building_floors,trngl_first_point,trngl_second_point,trngl_third_point
13162,11570,"мкр Таугуль, Пятницкого 41 — Щепкина",3,20500000,1.0,2,1986,4.0,59.0,5,...,1,1.0,1,1,43.210097,76.871704,5.0,20.9144,-5.1584,9.4359

In [115]:
data[data.index == 14603]

,Index,address,room_number,price,map_complex,house_type,built_time,appartments_floor,all_space,state,...,internet,furniture,floor,parking,latitude,longitude,building_floors,trngl_first_point,trngl_second_point,trngl_third_point
14603,23016,Жамакаева 258/8,3,74750000,90.0,4,2012,5.0,130.0,6,...,2,1.0,7,1,43.210693,76.945452,6.0,13.480042,-12.592758,2.001542

In [116]:
data[data.index == 8238]

,Index,address,room_number,price,map_complex,house_type,built_time,appartments_floor,all_space,state,...,internet,furniture,floor,parking,latitude,longitude,building_floors,trngl_first_point,trngl_second_point,trngl_third_point
8238,32402,Жандосова 14 — Ауэзова,2,14900000,1.0,4,1961,3.0,40.0,5,...,2,0.5,7,1,43.23403,76.907853,3.0,14.9062,-11.1666,3.4277

In [117]:
data[data.index == 15389]

,Index,address,room_number,price,map_complex,house_type,built_time,appartments_floor,all_space,state,...,internet,furniture,floor,parking,latitude,longitude,building_floors,trngl_first_point,trngl_second_point,trngl_third_point
15389,10074,Айтиева 44,4,62900000,1.0,4,2004,10.0,98.0,5,...,1,1.0,1,0,43.254605,76.904565,10.0,13.1775,-12.8953,1.699

In [84]:
test = data[data.price == 145500000]