In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
def normalization(data):
    from sklearn.preprocessing import MinMaxScaler
    scaler = MinMaxScaler()
    data = scaler.fit_transform(data)
    return data

In [3]:
data = pd.read_csv("dtrain.csv", delimiter=",")
data = data[data['geocode_lat'] != 0]
zeros = data[data['geocode_lat'] == 0]

In [4]:
#choosing data
X = data[['house_type_0', 'house_type_иное', 'house_type_каркасно-камышитовый',
       'house_type_кирпичный', 'house_type_монолитный',
       'house_type_панельный', 'state_0', 'state_евроремонт', 'state_свободная планировка',
       'state_среднее', 'state_требует ремонта', 'state_хорошее',
       'state_черновая отделка', 'door_0', 'door_бронированная', 'door_деревянная',
       'door_металлическая', 'region_Алматы', 'region_Алматы, Алатауский р-н',
       'region_Алматы, Алмалинский р-н', 'region_Алматы, Ауэзовский р-н',
       'region_Алматы, Бостандыкский р-н', 'region_Алматы, Жетысуйский р-н',
       'region_Алматы, Жетысуский р-н', 'region_Алматы, Медеуский р-н',
       'region_Алматы, Наурызбайский р-н', 'region_Алматы, Турксибский р-н',
       'region_Казахстан', 'internet_0', 'internet_ADSL', 'internet_оптика', 'internet_проводной',
       'internet_через TV кабель', 'bathroom_0', 'bathroom_2 с/у и более', 'bathroom_нет',
       'bathroom_раздельный', 'bathroom_совмещенный', 'built_time', 'all_space', 'balcony',
          'phone', 'parking', 'furniture', 'at_the_hostel',
          'appartments_floor', 'building_floors', 'price_for_sqr_meter']]
X_geo = data[['geocode_lat', 'geocode_long', 'trngl_first_point', 'trngl_second_point', 'trngl_third_point']]
y = data['price']
x_columns = X.columns
x_index = X.index
X = normalization(X)
X = pd.DataFrame(X, index=x_index, columns=x_columns)
X = pd.concat([X, X_geo], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [5]:
model = KNeighborsRegressor(n_neighbors = 9, n_jobs=-1, weights='distance')
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=-1, n_neighbors=9, p=2,
          weights='distance')

In [6]:
model.score(X_test, y_test)

0.64371048934701269

In [7]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, y, cv=5)
print(scores)

[ 0.17482961  0.51654274  0.56582939  0.51818611  0.57189837]

In [8]:
# var1 = 'geocode_long'
# var2 = 'geocode_lat'
# data.plot.scatter(x=var1, y=var2, color = (0, 0, 0), s = 15, xlim = [76.77, 77.03], ylim = [43.12, 43.43])

In [9]:
out = X_test[:1]
out

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
8083,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.085714,0.196078,0.062649,43.201956,76.898196,0.190793,-0.069935,0.076008

In [10]:
y_test[:1]

8083    69664000
Name: price, dtype: int64

In [11]:
print(model.predict(out))

[ 43159139.11357753]

In [12]:
model.kneighbors(out)

(array([[ 0.10336481,  0.11777422,  1.00374796,  1.00434435,  1.00525542,
          1.00653556,  1.0070887 ,  1.00722265,  1.00765923]]),
 array([[ 1094,  8181, 10614,  3617,  9565,  6703,  6190,  4554,  3016]]))

In [13]:
X[X.index == 4554]

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
4554,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.257143,0.352941,0.043418,43.196225,76.892357,0.202363,-0.058365,0.087578

In [14]:
X[X.index == 3103]

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
3103,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.014286,0.098039,0.04532,43.261505,76.954835,0.074605,-0.186123,-0.04018

In [15]:
X[X.index == 6703]

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
6703,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.5,0.0,0.028571,0.313725,0.057495,43.206766,76.884964,0.199215,-0.061513,0.08443

In [16]:
X[X.index == 3617]

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
3617,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.5,0.0,0.014286,0.098039,0.032304,43.208317,76.89966,0.182968,-0.07776,0.068183

In [17]:
X[X.index == 5868]

,house_type_0,house_type_иное,house_type_каркасно-камышитовый,house_type_кирпичный,house_type_монолитный,house_type_панельный,state_0,state_евроремонт,state_свободная планировка,state_среднее,...,furniture,at_the_hostel,appartments_floor,building_floors,price_for_sqr_meter,geocode_lat,geocode_long,trngl_first_point,trngl_second_point,trngl_third_point
5868,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.057143,0.098039,0.056539,43.199577,76.893174,0.198194,-0.062534,0.083409